# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Environment
.env

# IDE
.vscode/settings.json
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
